<a href="https://colab.research.google.com/github/locdinh209/psc-knn-python/blob/master/PSC_KNN_Assignment_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount to Storage

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

# Import Libraries

In [19]:
import pandas as pd
import seaborn as sns

# Import Dataset

   1. Sample code number            id number
   2. Clump Thickness               1 - 10
   3. Uniformity of Cell Size       1 - 10
   4. Uniformity of Cell Shape      1 - 10
   5. Marginal Adhesion             1 - 10
   6. Single Epithelial Cell Size   1 - 10
   7. Bare Nuclei                   1 - 10
   8. Bland Chromatin               1 - 10
   9. Normal Nucleoli               1 - 10
   10. Mitoses                       1 - 10
   11. Class:                        (2 for benign, 4 for malignant)car/car.names

In [10]:
dataset = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', 
          names=['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10','Y'])

In [11]:
dataset

          X1  X2  X3  X4  X5  X6  X7  X8  X9  X10  Y
0    1000025   5   1   1   1   2   1   3   1    1  2
1    1002945   5   4   4   5   7  10   3   2    1  2
2    1015425   3   1   1   1   2   2   3   1    1  2
3    1016277   6   8   8   1   3   4   3   7    1  2
4    1017023   4   1   1   3   2   1   3   1    1  2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ... ..
694   776715   3   1   1   1   3   2   1   1    1  2
695   841769   2   1   1   1   2   1   1   1    1  2
696   888820   5  10  10   3   7   3   8  10    2  4
697   897471   4   8   6   4   3   4  10   6    1  4
698   897471   4   8   8   5   4   5  10   4    1  4

[699 rows x 11 columns]

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      699 non-null    int64
 1   X2      699 non-null    int64
 2   X3      699 non-null    int64
 3   X4      699 non-null    int64
 4   X5      699 non-null    int64
 5   X6      699 non-null    int64
 6   X7      699 non-null    object
 7   X8      699 non-null    int64
 8   X9      699 non-null    int64
 9   X10     699 non-null    int64
 10  Y       699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [17]:
dataset['Y'] = dataset['Y'].apply(lambda x: 0 if x == 2 else 1)

In [36]:
dataset = dataset[dataset['X7'] != '?']

In [37]:
input = dataset.drop(labels=['Y'],axis=1)
output = dataset['Y']

# Step 1: PSC - Prototype selection based on Clustering

# Step 2: KNN - k-Neareast-Neighbours

## Generating Model for K=5

In [38]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(input, output, test_size=0.3, random_state=7)

In [39]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [40]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.624390243902439

## Re-generating Model for K=7

In [41]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=7)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [42]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6487804878048781

# Inference k-NN model